* {
    box-sizing: border-box;
  }


.inter {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


  
body {

    --text-white: #FFFFFF;
    --bg-text-unit-white: #5A537B;
    --bg-p-white: #353535;
    
    --bg-body-white: #273549;
    --bg-unit-insert-white: #6943FF;
    --bg-unit-transform-white: #F4F4F4;
    --bg-unit-white: #FFFFFF;

    --bg-toggle-white: #1F2937;

    --bg-button-white: #FFFFFF;
    --bg-button-hover-white: #612b72;

    margin: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-body-white);
    font-size: 1em;

}

.dark{
    --bg-text-unit-white: #CCC1FF;
    --bg-p-white: #FFFFFF;

    --bg-body-white: #1C1C1C; 
    --bg-unit-transform-white: #1F2937;
    --bg-unit-white: #273549;

    --bg-toggle-white: #FFFFFF;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: end;
}

.container {
    width: 34em;
    display: flex;
    flex-direction: column;

  
}

    .unit_insert {
        background-color: var(--bg-unit-insert-white);
        color: var(--text-white);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
        padding-bottom: 2em;
    }


    .unit_transform {
        background-color: var(--bg-unit-transform-white);
        direction: flex;
    }

    .unit {
        font-family: "Inter", serif;
        color: var(--bg-text-unit-white);
        background-color: var(--bg-unit-white);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1.5em;

    }

    .error-msg {
        margin: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

/* text */

p {
    color: var(--bg-p-white);
    font-size: 14px;
}

#message-el {

    padding: 2em;
    border-radius: 2em;
    font-family: "Inter", serif;
    font-weight: 800;
    color: #EECC0A;

}



/* input */
#input-el{
    font-family: "Inter", serif;
    font-weight: 800;
    text-align: center;
    color: var(--text-white);
    font-size: 58;
    max-width: 4em;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: #1c9470 solid 0.01em;
    border-radius: 0.1em;
}
/* button */

#toggle-el {
    background-color: var(--bg-toggle-white);
    /* color: var(--bg-text-unit-white); */
    border: none;
    padding: 1em 1em;
    border-radius: 50%;
    margin-bottom: 2em;
    text-shadow: var(--bg-toggle-white) 0 0 2px ;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1em;
    right: 1em;

}
#toggle-el img:last-child{
    display: none;
}

.dark #toggle-el img:first-child {
    display: none;
}

.dark #toggle-el img:last-child {
    display: block;
}

#convert-el {
    width: 7em;
    height: 2.6em;
    font-family: "Inter", serif;
    font-weight: 800;
    background-color: var(--bg-button-white);
    color: #3D3D3D;
    /* padding: 1em  2em; */
    border-radius: 0.5em;
    border: none;

}
#convert-el:hover {
    background-color: var(--bg-button-hover-white);
    color: var(--text-white);
}

/* 
.border {
    border: 1px dotted red;
} */